main{
  background-color: lightgrey;
  border-radius: 10px;
}
#title{
  padding-top: 50px;}
div{
    background-color: white;
  }
}
h1, h2, h3, div{
  text-align: center;
  font-family: Roboto;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  
}
#footer{
    height: 20px;
}
